// Grid Settings
$gutter: 30px;

// Brakpoints
$medium: 640px;
$large: 1024px;
$xlarge: 1341px;
$xxlarge: 1400px;

// Order
// Sets what breakpoint you wish the CSS Order property to be applied
$order: $xlarge;
