$iebar-bg: #ffc410;
$iebar-border: #eab105;
$iebar-txt-top: #755603;
$iebar-txt-bottom: #4c3906;
$iebar-txt-bottom-hover: #222;

.ie-bar {
  width: 100%;
  padding: 16px 15px;
  text-align: center;
  border-bottom: 5px solid $iebar-border;
  background: $iebar-bg;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  font-family: Tahoma, Verdana, Segoe, sans-serif;

  p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $iebar-txt-top;
    font-weight: 700;
    @include fontsize(12 18);

    a {
      display: block;
      color: $iebar-txt-bottom;

      &:visited {
        color: $iebar-txt-bottom;
      }

      &:hover,
      &:focus {
        color: $iebar-txt-bottom-hover;
      }
    }
  }
}
