.last-viewed {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 11px;
  width: 100%;
  max-width: 500px;
  height: 40px;
  @include fontsize(16 18);
  // font-weight: 600;
  color: white;
  text-decoration: none;
  text-align: center;
  color: white;
  background: rgba(white, 0.25);
  border-radius: 20px;
  z-index: 1;
  opacity: 0;
  animation: fadein ease 1s;
  animation-fill-mode: forwards;
  transition: color ease-in-out 0.2s;
  @include large-up {
    top: 20px;
  }

  // a {
  //   font-weight: 600;
  //   color: white;
  //   text-decoration: none;

  &:visited {
    color: white;
  }

  &:hover,
  &:focus {
    color: #f05931;
    text-decoration: none;
  }
  // }
}

.services-container {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadein ease 1s;
  animation-fill-mode: forwards;
}

.services {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  max-width: 1400px;
  height: 100vh;
  @include medium-up {
    // padding: 0 40px 40px;
  }
  @include large-up {
    padding: 80px;
  }

  div {
    position: relative;
    width: calc(100% / 3 - 40px);
    height: calc(100vh / 5);
    border-radius: 25px;
    border: 5px solid rgba(white, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(black, 0.1);
    animation: fadein ease 2s 2.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    overflow: hidden;
    transition: transform .2s;
    @include medium-up {
      height: calc(100vh / 6);
    }

    &:hover,
    &:focus {
      border-color: rgba(white, 0.5);
      box-shadow: 0px 0px 20px 0px rgba(black, 0.2);
      transform: scale(1.1);

      .title {
        background: black;
      }
    }
  }

  .service {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;

    .logo {
      display: block;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: 50% auto;
      background-repeat: no-repeat;
    }

    .title {
      position: absolute;
      top: calc(100% + 5px);
      left: 50%;
      margin-left: -60px;
      padding: 5px 16px;
      width: 120px;
      text-align: center;
      @include fontsize(12 12);
      color: white;
      background: rgba(black, 0.45);
      border-radius: 12px;
      opacity: 0;
      animation: fadein ease 1s 3s;
      animation-fill-mode: forwards;
    }
  }

  // .prime {
  //   background: linear-gradient(to right, #2d78b4 0%, #3ea1d5 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/amazon.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .disney {
  //   background: linear-gradient(to bottom, #08072a 0%, #22479f 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/disney.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .hulu {
  //   background: linear-gradient(to bottom, #44b5a3 0%, #3fac4d 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/hulu.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .hbo {
  //   background: linear-gradient(80deg, #9a35ef 0%, #bc11ad 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/hbo.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .imdb {
  //   background: linear-gradient(to right, #d01f48 0%, #e8138b 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/imdbtv.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .netflix {
  //   background: linear-gradient(to bottom, #910118 0%, #c60c20 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/netflix.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .peacock {
  //   background: linear-gradient(to bottom, #222021 0%, #090808 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/peacock.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .pluto {
  //   background: linear-gradient(to bottom, #222021 0%, #000000 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/pluto.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .roku {
  //   background: linear-gradient(to right, #660553 0%, #1617c7 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/roku.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .vudu {
  //   background: linear-gradient(to right, #24619d 0%, #317fd5 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/vudu.svg') center center / 50% auto no-repeat;
  //   }
  // }
}