.last-viewed {
  display: none;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: calc(100% - 40px);
  height: 30px;
  @include fontsize(14 30);
  color: white;
  text-decoration: none;
  text-align: center;
  color: white;
  background: rgba(white, 0.25);
  border-radius: 20px;
  z-index: 1;
  opacity: 0;
  animation: fadein ease 1s;
  animation-fill-mode: forwards;
  transition: color ease-in-out 0.2s;
  @include medium-up {
    top: 20px;
    height: 40px;
    max-width: 500px;
    @include fontsize(16 40);
  }

  &:visited {
    color: white;
  }

  &:hover,
  &:focus {
    color: #f05931;
    text-decoration: none;
  }
}

.services-container {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url('/assets/dist/images/bg-01.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  @at-root body.show-recent .services {
    padding-top: 40px;
  }
  @include large-up {
    padding: 20px;
    @at-root body.show-recent .services {
      padding-top: 80px;
    }
  }

  div {
    flex: 0 0 calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 15px;
    box-sizing: border-box;
    animation: fadein ease 2s 2.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    overflow: hidden;
    transition: transform 0.2s;
    @include medium-up {
      flex: 0 0 calc(100% / 3);
    }
    @include large-up {
      flex: 0 0 calc(100% / 4);
    }
    @include xlarge-up {
      flex: 0 0 calc(100% / 5);
    }
    &:before {
      content: '';
      display: table;
      padding-top: 100%;
    }

    &:hover,
    &:focus {
      transform: scale(1.1);

      .title {
        background: black;
      }
    }
  }

  .service {
    cursor: pointer;
    display: block;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    @include large-up {
      padding: 15px;
    }

    .logo {
      display: block;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: 80% auto;
      background-repeat: no-repeat;
      @include medium-up {
        background-size: 50% auto;
      }
      @include large-up {
        background-size: contain;
      }
    }

    .title {
      position: absolute;
      top: calc(100% + 5px);
      left: 50%;
      margin-left: -60px;
      padding: 5px 16px;
      width: 120px;
      text-align: center;
      @include fontsize(12 12);
      color: white;
      background: rgba(black, 0.45);
      border-radius: 12px;
      opacity: 0;
      animation: fadein ease 1s 3s;
      animation-fill-mode: forwards;
    }
  }

  // .prime {
  //   background: linear-gradient(to right, #2d78b4 0%, #3ea1d5 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/amazon.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .disney {
  //   background: linear-gradient(to bottom, #08072a 0%, #22479f 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/disney.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .hulu {
  //   background: linear-gradient(to bottom, #44b5a3 0%, #3fac4d 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/hulu.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .hbo {
  //   background: linear-gradient(80deg, #9a35ef 0%, #bc11ad 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/hbo.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .imdb {
  //   background: linear-gradient(to right, #d01f48 0%, #e8138b 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/imdbtv.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .netflix {
  //   background: linear-gradient(to bottom, #910118 0%, #c60c20 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/netflix.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .peacock {
  //   background: linear-gradient(to bottom, #222021 0%, #090808 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/peacock.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .pluto {
  //   background: linear-gradient(to bottom, #222021 0%, #000000 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/pluto.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .roku {
  //   background: linear-gradient(to right, #660553 0%, #1617c7 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/roku.svg') center center / 50% auto no-repeat;
  //   }
  // }

  // .vudu {
  //   background: linear-gradient(to right, #24619d 0%, #317fd5 100%);

  //   .logo {
  //     background: url('/assets/dist/images/logos/vudu.svg') center center / 50% auto no-repeat;
  //   }
  // }
}
