.settings-link {
  position: fixed;
  bottom: 5px;
  right: 20px;
  font-size: 20px;
  color: white;
  opacity: 0.35;
  transition: opacity ease-in-out 0.15s;
  @include medium-up {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 30px;
  }

  &:visited {
    color: white;
    opacity: 0.35;
    transition: opacity ease-in-out 0.15s;
  }

  &:active {
    color: white;
    opacity: 0.8;
    transition: opacity ease-in-out 0.15s;
  }

  &:hover,
  &:focus {
    color: white;
    opacity: 0.8;
    transition: opacity ease-in-out 0.15s;
  }
}
